@{
    ViewData["Title"] = "Повече информация";
}
<section class="container d-flex w-100 h-100 mt-3 flex-sm-row flex-column flex-md-row-reverse">
    <div class="col-md-6 col-sm-12 d-flex flex-column h-100 align-content-center justify-content-center">
        <h2 class="text-center">
            История на клетъчните автомати
        </h2>
        <hr />
        <p>
            Историята на клетъчните автомати започва през 40-те години на XX век,
            когато унгарският математик Джон фон Нойман, заедно със Станислав Улам,
            изучава механизми за самовъзпроизвеждащи се системи. Те разработват първите
            модели на КА, които могат да симулират сложни биологични и физически процеси.
            През 70-те години КА стават популярни благодарение на „Играта на живота“ на Джон
            Конуей – двуизмерен клетъчен автомат, който демонстрира как прости правила могат
            да доведат до сложни, непредсказуеми поведения. По-късно, през 80-те години,
            Стивън Волфрам провежда обширни изследвания върху едномерните клетъчни автомати
            и доказва тяхната връзка с теорията на изчислимостта и хаоса.
        </p>
    </div>
    <div class="d-flex justify-content-center align-items-start">
        <img style="width:50%; border-radius: 25%;" src="./images/JohnvonNeumann.jpg" alt="John von Neumann" />
    </div>
</section>

<section class="container d-flex w-100 h-100 mt-3 flex-sm-row flex-column">
    <div class="col-md-6 col-sm-12 d-flex flex-column h-100 align-content-center justify-content-center">
        <h2 class="text-center">
            Приложения
        </h2>
        <hr />
        <p>
            Клетъчните автомати намират приложение в различни научни и технологични области.
            Във физиката се използват за симулиране на флуиди, фазови преходи и термодинамични
            процеси. В биологията помагат за моделиране на растежа на тумори, разпространението
            на болести и взаимодействията в екосистемите. В криптографията се прилагат за генериране
            на псевдослучайни числа и сигурни алгоритми. В компютърните науки те са свързани с теорията
            на изчислимостта и могат да действат като универсални изчислителни системи. Освен това,
            намират място в компютърната графика, градоустройството и дигиталното изкуство.
        </p>
    </div>
    <div class="col-md-6 col-sm-12 appear-left">
    </div>
</section>

<section>
    <div class="col-md-6  col-sm-12" id="canvas-simulation-h-holder"></div>
</section>